
/* #region debug */

.debug [class^="col"] {
    border: 1px dashed;
    height: 100px;
}

.debug #app_header .col-6 {
    height: auto;
}

.debug .portfolio [class^="col"] {
    background-color: palegreen;
}

.debug .jambotron {
    background-color: palevioletred;
    border: 2px solid;
}
.debug .portfolio {
    background-color: rgb(216, 209, 112);
    border: 2px solid;
}
/* #endregion debug */

/* #region utility */

:root {
    --rc-green:#1abc9c;
    --rc-footer1:#3a546d;
    --rc-footer2:#2c3e50;
    }
    
    .rc_container_small {
        max-width: 70%;
        margin: auto;
    }
/* #endregion utility */

/* #region about */

.about {
    background-color:var(--rc-green);
}
/* #endregion about */

/* #region header */
#app_header{
    background-color: var(--rc-footer1);
}

/* #endregion header */


/* #region footer */

#app_footer .top_footer{
    background-color: var(--rc-footer1);
}
#app_footer .bottom_footer {
    background-color: var(--rc-footer2);
}
/* #endregion footer */
